html 
    head 
        title="Mi primero"
    body
        h1(style='color:blue')!=titulo
        span=min
        meter( id="fuel"
        min=min max=max
        value=nivel
        )!=titulo
        span=max

